.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B56330;
    color: var(--background);
    min-width: fit-content;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 8px;
}

.chip:hover {
    cursor: pointer;
}